<h1>Sessions</h1>

<ul>
  <% @sessions.each do |session| %>
    <% unless session.archived? %>
      <li>
        <%= link_to session.title, session %>  
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Create new Session", new_session_path %>