<% unless participant.archived? %>
  <p>
    <strong>Participant:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= participant.role %>
  </p>

  <%= link_to "Destroy Participant", [participant.session, participant], data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</p>

<br>

<% end %>
